.App {
  width: 100vw;
  height: 100vh;
  text-align: center;
  background-size: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url('https://i.pinimg.com/originals/ca/97/bd/ca97bde328433c2497b154afdee5f8d7.gif');
}

.random-floating {
  position: absolute;
}

.card {
  background-color: yellow;
  width: 50%;
  padding: 75px 0;
  position: relative;
}

.buttonContainer {
  display: flex;
  gap: 50px;
  align-items: center;
  justify-content: center;
}

.buttonContainer  button {
  background-color: red;
  border: none;
  padding: 20px;
  border-radius: 8px;
  color: white;
  font-weight: bold;
  cursor: pointer;
  z-index: 50;
}

.floatingCat-1 {
  position: absolute;
  top: -280px;
}

.floatingCat-2 {
  position: absolute;
  left: -250px;
  bottom: 0;
}

.floatingCat-3 {
  position: absolute;
  top: -350px;
  left: -150px;
  width: 250px;
  bottom: 0;
}

h1 {
  margin: 0;
  margin-bottom: 20px;
}